* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/53c80b1ae4b006756b6ddce4/1607214569963-7DKNELMH8ZBDISHX74N8/LabHimalayasBackEntrance.png");
  width: 90%;
  margin: 0 auto;
}

#nav {
  background-color: LightSkyBlue;
  text-align: center;
}

.artifact {
  float:right;
  height:70px;
  margin: 5px
}

h1, p {
   font-family: 'CodeNewRomanRegular';
   font-weight: normal;
   font-style: normal;
}

#header h1 {
  color: white;
    text-align: center;
}


#feature {
  background-color: LightBlue;
  margin-bottom: 1em;
  padding: 10px;
}

#footer {
  background-color: SkyBlue;
    text-align: center;
}

.form {
  width: 80%;
  margin: auto;
}

#nav, #feature, #footer {
  margin: 1%;
}

label {

}

input, textarea{
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}


#nav li {
  display: inline;
  padding: 0.5em;
}

#nav, #footer {
  padding: 0.5em 0;
}
