* {
  font-family: Arial, Verdana, sans-serif;
  color: #ffffff;
}

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/53c80b1ae4b006756b6ddce4/1607214569963-7DKNELMH8ZBDISHX74N8/LabHimalayasBackEntrance.png");
  width: 90%;
  margin: 0 auto;
}

#nav {
  background-color: #15529d;
  text-align: center;
}

iframe {
  border:0px;
}

.artifact {
  float:right;
  height:70px;
  margin: 5px
}

h1, p {
   font-family: 'CodeNewRomanRegular';
   font-weight: normal;
   font-style: normal;
}

#header h1 {
  color: rgb(255, 255, 255);
    text-align: center;
}


#feature {
  background-color: #112e51;
  margin-bottom: 1em;
  padding: 60px;
}

#footer {
  background-color: #18548c;
    text-align: center;
}

.form {
  width: 80%;
  margin: auto;
}

#nav, #feature, #footer {
  margin: 1%;
}


input, textarea{
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  color:black;
}


#nav li {
  display: inline;
  padding: 0.5em;
}

#nav, #footer {
  padding: 0.5em 0;
}

#errorMessages {
  color: red;
}

#thanksgif {
  background-image:url(https://media.tenor.com/pyGugHcm4XcAAAAC/michael-scott-the-office.gif);
  background-repeat: no-repeat;
  background-size: auto;
  height: 300px;
}
